{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	
	<!-- Featured Products -->
	<div class="row">
		<div class="row-md-3">
		
			<h3 class="mb-4 border-bottom pb-1">Projects</h3>
			
			
			<!-- Price Filter -->
			<div class="card mb-4">
				<h6 class="card-header">No.of ongoing projects</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">	
						{% if project_count %}
							{% for project_count in project_count %}
								<p><a href="search-ongoingproject">{{project_count}}</a></p>
							{% endfor %}
						{% endif %}
					</li>
				</div>
			</div>
			<div class="card mb-4">
				<h6 class="card-header">No.of completed projects</h6>
				<div class="list-group list-group-flush">
					<li class="list-group-item">	
						{% if project_counts %}
							{% for project_counts in project_counts %}
								<p><a href="search-completedproject">{{project_counts}}</a></p>
							{% endfor %}
						{% endif %}
					</li>
				</div>
			</div>
		 	
			<div class="card mb-4">
				<h6 class="card-header">No.of ongoing projects</h6>
			<form action="/search_project">
				<div >
					<input name="s" type="text" c placeholder="search" />
					<div >
					  <button type="submit" >Project Search</button>
					</div>
				  </div>
			</form>
			</div>
		</div>
		
		<div class="col-md-9">
	
	
	<div class="row">
		{% if data %}
			{% for cat in data %}
			<div class="col-md-3 mb-4">
				<div class="card shadow">
				<a href="/project-employee-list/{{cat.id}}"><img src="/media/{{cat.image}}" class="card-img-top" id="img" alt="{{cat.title}}" /></a>
				<div class="card-body">
					<h6 class="card-text" id="project-title"><a href="#">{{cat.title}}</a></h6>
					<h6 class="card-text" id="event-box">Start Date: {{cat.countdown}}</h6>
					<h6 class="card-text" id="countdown-box"><a href="#"></a></h6>
				</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
 </div>

	</div>
	
	
</main>

{% endblock %}
