{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<div class="col-md-9">
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for</span> {{request.GET.q}}</h3>
	<div class="row">
    {% for employee in data %}
		<div class="col-md-3 mb-4">
			<div class="card shadow">
			  <a href="/employee/{{employee.slug}}/{{employee.id}}"><img src="/media/{{employee.employeeattribute_set.first.image}}" class="card-img-top" alt="{{employee.title}}"></a>
			  <div class="card-body">
			    <h6 class="card-text"><a href="/employee/{{employee.slug}}/{{employee.id}}">{{employee.title}}</a></h6>
			  </div>
			  
			</div>
		</div>
    {% endfor %}
	</div>
</div>
</main>
{% endblock %}